h1{
  color: lime;
  text-align: center;
  background-color:  black;
  font-family: monospace;
}

p{
    text-align: justify
}
strong{
  color: red;
}
/*ul{
  position:relative;
  top: 10px;
}*/
ul{
  position:absolute;
  top: 500px;
}
ul{
  position:relative;
  top:10px;
}
nav{
  position:absolute
    top; 0;right: 0;
}
.caixa{}